@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";

@include b(button) {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-background-color;
  border: $--border-base;
  border-color: $--button-default-border-color;
  color: $--button-default-font-color;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  font-weight: $--button-font-weight;
  user-select: none;
  & + & {
    margin-left: 10px;
  }
  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }

  & [class*="s-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(disabled) {
    &,
    &:hover {
      color: $--button-disabled-font-color;
      cursor: not-allowed;
      background-image: none;
      background-color: $--button-disabled-background-color;
      border-color: $--button-disabled-border-color;
    }

    &.s-button--text {
      background-color: transparent;
    }
  }

  @include when(loading) {
    
  }
}