@import "common/var";

@font-face {
  font-family: 'sight-icons';
  src: url('#{$--font-path}/sight-icons.woff') format('woff'), /* chrome, firefox */
        url('#{$--font-path}/sight-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="s-icon-"], [class*=" s-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sight-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-icon-error:before {
  content: '\e620';
}
